/* Titan */
.Titan{
  position: absolute;
  width: 322px;
  height: 110px;
  left: 565px;
  top: 124px;

  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 96px;

  color: #A38D65;
}

/* Pass */
.Pass {
  position: absolute;
  width: 324px;
  height: 162px;
  left: 740px;
  top: 124px;

  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 96px;

  color: #C23838;
}


.form
{
  position: absolute;
  width: 360px;
  height: 480px;
  left: calc(50% - 360px / 2);
  top: 272px;

  background: #FFFFFF;
  border-radius: 20px;
}

.emailLabel
{
  position: absolute;
  width: 120px;
  height: 27px;
  left: 573px;
  top: 341px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.passwordLabel
{
  position: absolute;
  width: 120px;
  height: 26px;
  left: 573px;
  top: 466px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.emailInput {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 573px;
  top: 383px;

  background: #F2F2F2;
  border-radius: 20px;

}


.passwordInput
{
  position: absolute;
  width: 290px;
  height: 40px;
  left: 575px;
  top: 501px;

  background: #F2F2F2;
  border-radius: 20px;
}



































.LogoContainer{
  margin: 50px auto;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 400px;
  background: #2F303A;;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-weight: bold;
  font-family: Bungee, sans-serif;
}
.TitanLabel{
  font-family: Bungee, sans-serif;
  font-weight: bold;
  color: #A38D65;
  font-size: 80px;
}
.PassLabel{
  font-family: Bungee,sans-serif;
  font-weight: bold;
  color: #C23838;
  font-size: 80px;
}


.WhiteContainer{
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
  width: 360px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.BoxDesign{
  margin: 0;
  width: 290px;
  height: 40px;
  text-align: center;
  background: #F2F2F2;
  border-radius: 20px;
  border:1px;

  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.LabelDesign{
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.LoginButton{
  width: 150px;
  height: 40px;
  background: #A38D65;
  border-radius: 20px;
  align-self: center;
  margin-top: 50px;

  text-align: center;
  color: #FFFFFF;
  font-family:Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.CreateButton{
  width: 220px;
  height: 40px;
  background: #C23838;
  border-radius: 20px;
  align-self: center;
  margin-bottom: 20px;


  text-align: center;
  color: #FFFFFF;
  font-family:Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.PasswordWarning{
  color: #C23838;
  align-self: center;
}
