

<div class="LogoContainer">
<h1 class="TitanLabel">Titan</h1>
  <h1 class="PassLabel">Pass</h1>
</div>

<div class="WhiteContainer">

  <label for="email" class="LabelDesign">Email:</label>
  <input type="email" id="email" name="email" #email class="BoxDesign">
  <label for="password" class="LabelDesign">Password:</label>
  <input type="password" id="password" name="password" #plainTextPassword class="BoxDesign">
  <label for="repeatPassword" class="LabelDesign">Repeat Password:</label>
  <input type="password" id="repeatPassword" name="repeatPassword" #plainTextRepeatPassword class="BoxDesign">

  <div *ngIf="checkIfPasswordsAreEqual(plainTextPassword.value, plainTextRepeatPassword.value) == false"
       class="PasswordWarning">
    <div>
      Passwords are not equal!
    </div>
  </div>


  <button class="CreateButton" (click)="createUser(email.value, plainTextPassword.value, plainTextRepeatPassword.value)" type ="submit">Create</button>
  <button class="BackButton" (click)="goBack()">Back</button>

</div>

