<div class="WhiteContainer" id="WhiteContainer">
  <label for="NewGroup" class="LabelDesign">New Group:</label>
  <input class="BoxDesign" (click)="groupName_Warning_reset()" id="NewGroup" #newGroupName name="NewGroup">

  <div class="groupName_Warning-CanNotBeNull" id="groupName_Warning-CanNotBeNull">
    <div>
      Group name can not be empty.
    </div>
  </div>

  <button class="CreateButton" type="submit" (click)="create(newGroupName.value)">Create</button>
  <button class="BackButton" (click)="goBack()">Back</button>

</div>

<div class="pop-up_background" id="popUpBackground">
  <div class="pop-up_container">
    <label class="pop-up_labelOne">The User</label>
    <label class="pop-up_labelTwo">has been created.</label>
    <button class="pop-up_button" id="popUpContinueButton" (click)="continue()"> Continue. </button>
  </div>
