<div class="WhiteContainer">

  <label for="group-select" class="LabelDesign">Group:</label>
  <button class="NewButton" (click)="newGroup()" >New</button>
 <select id="group-select" class="DropDownBox" (change)="selectChangeHandler($event)" *ngIf="$groups | async as groupsList">
   <option value="" selected hidden>Select</option>
   <option *ngFor="let group of groupsList.list" (select)="group.id" [value]="group.id" > {{group.name}} </option>
 </select>

  <label for="Name" class="LabelDesign">Website:</label>
  <input type="text" id="Name" #name name="Name" placeholder="Name" class="BoxDesign">

  <label for="Email" class="LabelDesign">Email:</label>
  <input type="text" id="Email" #email name="Email" placeholder="Email" class="BoxDesign">

  <label for="encryptedPassword" class="LabelDesign">Password:</label>
  <button class="GenerateButton" type="submit">Generate</button>
  <input type="password" id="encryptedPassword" #encryptedPassword name="encryptedPassword" placeholder="**********" class="BoxDesign">

  <button class="AddButton" type="submit" (click)="popUp_Window_Show()">Add</button>
  <button class="BackButton" (click)="goBack()">Back</button>

</div>


<!-- pop-Up window which askes about the main password to confirm the new account -->
<div class="pop-up_background" id="popUpBackground_password">
  <div class="pop-up_container_confirm">
    <label class="pop-up_label_oneConfirm">Confirm with</label>
    <label class="pop-up_label_TwoConfirm">Login password.</label>
    <input type="password" id="masterPassword" #masterPassword name="masterPassword" class="BoxDesign_confirm" placeholder="**********" (click)="masterPasswordWarning_hide()">
    <div class="masterPassword_warning" id="masterPassword_warning">
      <div>
        Wrong password.
      </div>
    </div>
    <button class="pop-up_button_confirm" id="popUpContinueButton_password" (click)="create(email.value, name.value, encryptedPassword.value, masterPassword.value, selectedGroup.valueOf())"> Confirm </button>
    <button class="pop-up_button_quit" id="popUpQuitButton_password" (click)="goBack()"> Quit </button>
  </div>
</div>







<!--  Message that confirms that, a new account has been created-->
<div class="pop-up_background" id="popUpBackground_Done">
  <div class="pop-up_container">
    <label class="pop-up_labelOne">The Account</label>
    <label class="pop-up_labelTwo">has been created.</label>
    <button class="pop-up_button" id="popUpContinueButton_Done" (click)="goBack()"> Continue. </button>
  </div>
</div>
