


<div class="WhiteContainer">

  <label for="group-select" class="LabelDesign">GroupModel:</label>
 <select id="group-select"    class="DropDownBox">
   <option value="" selected hidden>Select</option>
   <option>group 1</option>
   <option>group 2</option>
   <option>group 3</option>
   <option>group 4</option>
     <button class="NewButton">
       nice
     </button>
 </select>


  <label for="Website" class="LabelDesign">Website:</label>
  <input type="text" id="Website" name="Website" placeholder="Website" class="BoxDesign">

  <label for="UserName" class="LabelDesign">User Name:</label>
  <input type="text" id="UserName" name="UserName" placeholder="User Name" class="BoxDesign">

  <label for="Password" class="LabelDesign">Password:</label>
  <button class="GenerateButton" type="submit">Generate</button>
  <input type="password" id="Password" name="Password" placeholder="**********" class="BoxDesign">




  <button class="AddButton" type="submit">Add</button>
  <button class="BackButton" (click)="goBack()">Back</button>

</div>
