<div class="WhiteContainer">
  <label for="group-select" class="LabelDesign">Group to Delete:</label>
  <select id="group-select" class="DropDownBox" (click)="noGroupSelected_Warning_hide()" (change)="selectChangeHandler($event)" *ngIf="$groups | async as groupsList">
    <option value="" selected hidden >Select group</option>
    <option *ngFor="let group of groupsList.list" (select)="group.id" [value]="group.id" > {{group.name}} </option>
  </select>

  <div class="noGroupSelected_Warning" id="groupName_Warning-CanNotBeNull">
    <div>
      No group Selected
    </div>
  </div>

  <button class="pop-up_button_confirm" id="popUpContinueButton_password" (click)="deleteGroup(selectedGroup.valueOf())"> Delete </button>
  <button class="pop-up_button_back" id="popUpQuitButton_password" (click)="goBack()"> Back </button>
</div>

<div class="pop-up_background" id="popUpBackground">
  <div class="pop-up_container">
    <label class="pop-up_labelOne">The group</label>
    <label class="pop-up_labelTwo">has been deleted.</label>
    <button class="pop-up_button" id="popUpContinueButton" (click)="continue()"> Continue. </button>
  </div>
</div>
