
<table  class="MainContainer" *ngIf="$accounts | async as accountsList" >
  <tr class="HeaderContainer">
    <td class="HeaderBox">Group</td>
    <td class="HeaderBox">Website</td>
    <td class="HeaderBox">Email</td>
    <td class="HeaderBox">Password</td>
    <td></td>
  </tr>
<div class="ContainerAlignment">
  <tr *ngFor="let account of accountsList.list" class="ItemContainer">
    <td class="ItemBox">{{account.group.name}}</td>
    <td class="ItemBox">{{account.name}}</td>
    <td class="ItemBox">{{account.email}}</td>
    <td class="ItemBox">{{account.encryptedPassword}}</td>
    <td><button>Update</button> <button>X</button></td>
  </tr>
</div>
  <button (click)="createNewAccount()" class="NewGroup">Create new group</button>
</table>

