
<table  class="MainContainer" *ngIf="$accounts | async as accountsList" >
  <tr class="HeaderContainer">
    <td class="HeaderBox">Group</td>
    <td class="HeaderBox">Website</td>
    <td class="HeaderBox">Email</td>
    <td class="HeaderBox">Password</td>
    <td></td>
  </tr>

<div class="ContainerMargin">
  <tr *ngFor="let account of accountsList.list" class="ItemContainer">

    <td class="ItemBox" #group>{{account.group.name}}</td>
    <td class="ItemBox" #name>{{account.name}}</td>
    <td class="ItemBox" #email>{{account.email}}</td>
    <td><td>
      <button (click)="updateAccount(account.id)" [value]="account.id">Update</button>
      <button (click)="popupWindow_deleteAccount_show(account)">X</button>
      <button (click)="popUp_Window_Show(account.id)">Show password</button>
    </td>
  </tr>

</div>
  <div class="button_container">
  <button (click)="popupWindow_manageGroups_show()" class="button">Manage groups</button>
  <button class="button right" (click)="addAccount()">Add account</button>
  </div>

</table>

<!-- Pop Up Window if User Wants to Delete account -->
<!-- TODO Show accounts email, website, and group in pop up TODO -->

<div class="pop-up_background"  [style.display]="accountToDelete?'flex': 'none'" id="DeleteAccount_popUpWindow_Backround">
  <div class="pop-up_container">
    <label class="pop-up_labelOne">Are you sure you want</label>
    <label class="pop-up_labelTwo">to delete the account?</label>

    <div class="pop-up_accountInformation_Container">
      <label class="pop-up_label" id="groupNameLabel">Group: {{accountToDelete?.group?.name}}</label>
      <label class="pop-up_label" id="WebsiteNameLabel">Website: {{accountToDelete?.name}}</label>
      <label class="pop-up_label" id="EmailNameLabel">Email: {{accountToDelete?.email}}</label>

    </div>

    <button class="pop-up_button_yes" id="popUpContinueButtonYes" (click)="deleteAccount()"> Yes. </button>
    <button class="pop-up_button_no" id="popUpContinueButtonNo" (click)="popupWindow_deleteAccount_hide()"> No. </button>
  </div>
</div>

<!-- Pop Up Window if User Wants to manage groups -->
<div class="groups_pop-up_background" id="menageGroups_popUpWindow_Backround">
  <div class="groups_pop-up_Container">

    <button class="groups_pop-up_Exit" (click)="popupWindow_manageGroups_hide()">+</button>
    <label class="pop-up_labelOne">What do you want </label>
    <label class="pop-up_labelTwo">to do?</label>

    <div class="groups_popUp_buttonContainer">
    <button class="groups_popUp_button" (click)="deleteGroup()">Delete group</button>
      <button class="groups_popUp_buttonRight" (click)="newGroup()">Add group</button>
    </div>
  </div>
</div>

<!-- Pop up window to show password-->
<div class="pop-up_password" id="popUpBackground_password">
  <div class="pop-up_container_confirm">
    <label class="pop-up_label_oneConfirm">Confirm with</label>
    <label class="pop-up_label_TwoConfirm">Login password.</label>
    <input type="password" [(ngModel)]="loginPassword" id="masterPassword" #masterPassword name="masterPassword" class="BoxDesign_confirm">
    <div class="masterPassword_warning" id="masterPassword_warning">
      <div>
        Wrong password.
      </div>
    </div>
    <button class="pop-up_button_confirm" id="popUpContinueButton_password" (click)="getPassword(accountID, masterPassword.value)"> Confirm </button>
    <label class="pop-up_labelOne">{{password}}</label>
    <button class="pop-up_button_quit" id="popUpQuitButton_password" (click)="goBack()"> Back </button>
  </div>
</div>
